<!--View post for writer-->
<div class="container">
    <div class="row">
        <div class="Customtitle mb-1 w-100 mt-2">
            <div class="my-mark">
                <p class="ml-3">Đã được duyệt & chờ xuất bản</p>
            </div>
        </div>
        <div style="background-color: white; width: 100%;">
            <div class="row mb-1">
                {{#each this.rows}}
                {{#ifCond status 'approved'}}
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;">
                            <div class="post">
                                <a href="/cat/{{category_id}}/{{id}}"><img src="{{avatar}}"
                                        class="card-img-top card-img-categoryItem" alt="..."></a>
                                <a href="/cat/{{category_id}}" class=" post-title badge badge-success ">{{catname}}</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}</h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{publish_at}}</div>
                        </div>

                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
        </div>


        <div class="Customtitle mb-1 w-100 mt-2">
            <div class="my-mark">
                <p class="ml-3">Đã xuất bản</p>
            </div>
        </div>
        <div style="background-color: white;width: 100%;">
            <div class="row mb-1">
                {{#each this.rows}}
                {{#ifCond status 'published'}}
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;">
                            <div class="post">
                                <a href="/cat/{{category_id}}/{{id}}"><img src="{{avatar}}"
                                        class="card-img-top card-img-categoryItem" alt="..."></a>
                                <a href="/cat/{{category_id}}" class=" post-title badge badge-success ">{{catname}}</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}</h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{publish_at}}</div>
                        </div>

                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
        </div>

        <div class="Customtitle mb-1 w-100 mt-2">
            <div class="my-mark">
                <p class="ml-3">Chưa được duyệt</p>
            </div>
        </div>
        <div style="background-color: white; width: 100%;">
            <div class="row mb-1">
                {{#each this.rows}}
                {{#ifCond status 'new'}}
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;">
                            <div class="post">
                                <a class="card-img-top card-img-categoryItem" alt="..."><img src="{{avatar}}"
                                        class="card-img-top card-img-categoryItem" alt="..."></a>
                                <a href="/cat/{{category_id}}" class=" post-title badge badge-success ">{{catname}}</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}</h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{create_at}}</div>
                            <div class="d-flex flex-row-reverse">
                                <form method="GET" action="/writer/manageArticle/edit">
                                    <input type="hidden" name="id" value="{{id}}" />
                                    <button type="submit" class="btn btn-outline-success">Edit</button>
                                </form>
                                <button type="button" class="btn btn-outline-danger mr-3 deleteButton"
                                    data-toggle="modal" data-id="{{id}}" data-target="#deleteModal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
        </div>


        <div class="Customtitle mb-1 w-100 mt-2">
            <div class="my-mark">
                <p class="ml-3">Bị từ chối</p>
            </div>
        </div>
        <div style="background-color: white; width: 100%;">
            <div class="row mb-1">
                {{#each this.rows}}
                {{#ifCond status 'rejected'}}
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;">
                            <div class="post">
                                <a class="card-img-top card-img-categoryItem" alt="..."><img src="{{avatar}}"
                                        class="card-img-top card-img-categoryItem" alt="..."></a>
                                <a href="/cat/{{category_id}}" class=" post-title badge badge-success ">{{catname}}</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}</h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{create_at}}</div>
                            <div class="d-flex flex-row-reverse">
                                <form method="GET" action="/writer/manageArticle/edit">
                                    <input type="hidden" name="id" value="{{id}}" />
                                    <button type="submit" class="btn btn-outline-success">Edit</button>
                                </form>
                                <button type="button" class="btn btn-outline-warning mr-3 messageButton"
                                    data-toggle="modal" data-message="{{message_reject}}"
                                    data-target="#messageModal">Message</button>
                                <button type="button" class="btn btn-outline-danger mr-3 deleteButton"
                                    data-toggle="modal" data-id="{{id}}" data-target="#deleteModal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
        </div>

    </div>
</div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3><strong>Are you sure to delete this article?</strong></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" action="/writer/manageArticle/delete" target="_self">
                    <input type="hidden" name="id" id="id" value="" />
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="messagefromadmin"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End view post-->
<script type="text/javascript">
    $(document).on("click", ".deleteButton", function () {
        var ArticleId = $(this).data('id');
        $("#id").val(ArticleId);
        // As pointed out in comments, 
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
    $(document).on("click", ".messageButton", function () {
        var message = $(this).data('message');
        console.log('message', message);
        $("#messagefromadmin").html(message);
        // As pointed out in comments, 
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>