<!--dòng 1 Slide tin nổi bật, Tin trong nước, Tin quốc tế-->
<div class="container mt-3 ">
    <div class="row">

        <!-- cột 1 slide các bài viết nổi bật  -->
        <div class="col-md-7 col-sm-12">
            <div class="bd-example mt-0 ">
                <div class="Customtitle mb-1">
                    <div class="my-mark">
                        <p class="ml-3 text-danger">Tin nổi bật</p>
                    </div>
                </div>
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each this.highlight}}
                        <div class="carousel-item {{#if isActive}}active{{/if}}">
                            <a href="/cat/{{category}}/{{id}}" class="carousel-itemlink">
                                <img src="{{featureImg}}" class="d-block w-100 carousel-img-Hot" alt="...">
                            </a>
                            <div class="my-carousel-caption">
                                <h5 class="my-carousel-caption-title">{{title}}
                                </h5>
                                <p class="my-carousel-caption-sumary">{{description}}</p>
                                <div class="post-date">{{datePost}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end cột 1 slide các bài viết nổi bật  -->

        <!-- Cột 2  Tin trong nước, tin quốc tế-->
        <div class="col-md-5 col-sm-12">
            <!-- dòng 1 Tin trong nước -->
            {{#each rows}}
            {{#ifCond category 'trongnuoc'}}
            <div class="row mb-3">
                <div class="post">
                    <a href="/cat/{{category}}/{{id}}">
                        <img class="annimationImg" src="{{featureImg}}" alt="">
                        <span class=" post-title badge badge-success ">Tin
                            trong nước</span>
                        <span class="post-Desc">
                            {{title}}
                        </span>
                        <span class="post-Time">February 11, 2018</span>
                    </a>
                </div>
            </div>
            {{/ifCond}}
            {{/each}}

            <!-- end dòng 1 tin trong nước -->

            <!-- dòng 2 Tin quốc tế -->
            {{#each rows}}
            {{#ifCond category 'thegioi'}}
            <div class="row mb-1">
                <div class="post">
                    <a href="/cat/{{category}}/{{id}}">
                        <img class="annimationImg" src="{{featureImg}}" alt="">
                        <span class=" post-title badge badge-success ">Tin
                            quốc tế</span>
                        <span class="post-Desc">
                            {{title}}
                        </span>
                        <span class="post-Time">February 11, 2018</span>
                    </a>
                </div>
            </div>
            {{/ifCond}}
            {{/each}}
            {{!-- <div class="row mb-1">
                <div class="post">
                    <img class="annimationImg" src="./img/venezelua.jpg" alt="">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="post-title badge badge-success ">Tin
                        quốc tế</a>
                    <span class="post-Desc ">
                        Trực thăng quân sự Venezuela rơi, 7 sĩ quan thiệt mạng
                    </span>
                    <span class="post-Time">February 11, 2018</span>
                </div>
            </div> --}}
            <!-- end dòng 2 tin quốc tế -->
        </div>
        <!-- End cột 2 -->
    </div>
</div>

<!-- end dòng 1 -->

<!-- Dòng 2: Slide xem nhiều nhất, Các mục còn lại -->
<div class="container mt-3 ">
    <div class="row">
        <!-- Cột 1: các chuyên mục còn lại-->
        <div class="col-md-7 col-sm-12">

            <!-- 1 Category 2 post -->
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="badge badge-success">Doanh nhân</a>
                </div>
                {{#each rows}}
                {{#ifCond category 'doanhnhan'}}
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/cat/{{category}}/{{id}}"><img
                                    src="{{featureImg}}" class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{updated_at}}</div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            <!-- end of category -->

            <!-- 1 Category 2 post -->
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="badge badge-success">Tài chính</a>
                </div>
                {{#each rows}}
                {{#ifCond category 'taichinh'}}
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/cat/{{category}}/{{id}}"><img
                                    src="{{featureImg}}" class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{updated_at}}</div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            <!-- end of category -->

            <!-- 1 Category 2 post -->
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="badge badge-success">Bất động sản</a>
                </div>
                {{#each rows}}
                {{#ifCond category 'batdongsan'}}
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/cat/{{category}}/{{id}}"><img
                                    src="{{featureImg}}" class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{updated_at}}</div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            <!-- end of category -->

            <!-- 1 Category 2 post -->
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="badge badge-success">Trung tâm mua
                        sắm</a>
                </div>
                {{#each rows}}
                {{#ifCond category 'trungtam'}}
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/cat/{{category}}/{{id}}"><img
                                    src="{{featureImg}}" class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{updated_at}}</div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            <!-- end of category -->

            <!-- 1 Category 2 post -->
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="badge badge-success">Thị trường
                        24h</a>
                </div>
                {{#each rows}}
                {{#ifCond category 'thitruong'}}
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/cat/{{category}}/{{id}}"><img
                                    src="{{featureImg}}" class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{updated_at}}</div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            <!-- end of category -->

            <!-- 1 Category 2 post -->
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html" class="badge badge-success">Bệnh đàn ông</a>
                </div>
                {{#each rows}}
                {{#ifCond category 'benhdanong'}}
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/cat/{{category}}/{{id}}"><img
                                    src="{{featureImg}}" class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{updated_at}}</div>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                {{/each}}
            </div>
            <!-- end of category -->



        </div>
        <!-- Kết thúc cột 1 -->


        <!-- Cột 2: slide bài viết được xem nhiều nhất,mini-article các bài viết mới nhất -->
        <div class="col-md-5 col-sm-12">

            <!-- Dòng 1 dành cho slide các bài viết xem nhiều nhất -->
            <div class="row mb-4">
                <!-- slide các bài viết xem nhiều nhất-->
                <div class="bd-example mt-2">
                    <div class="Customtitle mb-1">
                        <div class="my-mark">
                            <p class="ml-3">Xem nhiều nhất</p>
                        </div>
                    </div>
                    <div id="carouselExampleCaptions1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/quocvuong.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption ">
                                    <div class="ml-1 mr-1">
                                        <h5>Lễ rước kiệu 16 người khiêng của tân vương Thái Lan</h5>
                                        <p class="carousel-sumary">Hàng trăm nghìn người dân Thái Lan hôm nay tập
                                            trung trên các con phố đoàn rước kiệu đi qua để ngắm nhìn Quốc vương
                                            Vajiralongkorn.
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/cauthang.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Chiếc cầu thang 'níu chân' khách trong ngôi nhà Sài Gòn</h5>
                                        <p class="carousel-sumary">Cầu thang nằm ở khu vực thông tầng hình chiếc lá
                                            cũng là nơi ngồi chơi thư giãn cho cả nhà, nơi ngắm cảnh, đón nắng gió.
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/donggioi.png" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Chuyện tình người phụ nữ đi nghỉ với bạn trai</h5>
                                        <p class="carousel-sumary">Khoảnh khắc nhìn thấy cô Sharon, Sandra (người
                                            Anh) quyết định rời bỏ người bạn đời 18 năm để đến với tình yêu đồng
                                            giới.
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/ngheo.png" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>6 dấu hiệu bạn đang nhiễm 'virus nghèo khó'</h5>
                                        <p class="carousel-sumary">Một người nghĩ mình nghèo thường cố chứng minh
                                            mình "không đến nỗi nào", mua quà đắt tiền, đãi khách bằng những đồng
                                            cuối cùng.
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/nhaong.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Nhà ống Sài Gòn thừa nắng, thừa gió</h5>
                                        <p class="carousel-sumary">Hai giếng trời cộng hệ lam đa dạng ở cả 3 tầng
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/mcgiau.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>MC giàu có tuyên bố </h5>
                                        <p class="carousel-sumary">MC nổi tiếng người Anh Kirstie Allsopp tiết lộ sẽ
                                            để lại số tiền 16 triệu bảng cho hai con trai, nhưng chỉ sau khi họ có
                                            việc làm.
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/tevez.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Tiêu đề aaaaaa aaaaaaaaa bb aaaaaa aaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaa
                                            aaaaaaaaa aaaaaaaaaa</h5>
                                        <p class="carousel-sumary">Vài dòng tóm tắt aaaaaaa aaaaaa aaaaa Nulla vitae
                                            elit libero,
                                            a pharetra augue mollis interdum. aaaaaa bbbb aaaaaaaa aaaaaaaaaaaaaaaaa
                                            aaaaa
                                            aaaaaaaaaaa bbbbb aaaaaaaaaaa aaaaaaaaa
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/vidic.png" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Tiêu đề aaaaaa aaaaaaaaa bb aaaaaa aaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaa
                                            aaaaaaaaa aaaaaaaaaa</h5>
                                        <p class="carousel-sumary">Vài dòng tóm tắt aaaaaaa aaaaaa aaaaa Nulla vitae
                                            elit libero,
                                            a pharetra augue mollis interdum. aaaaaa bbbb aaaaaaaa aaaaaaaaaaaaaaaaa
                                            aaaaa
                                            aaaaaaaaaaa bbbbb aaaaaaaaaaa aaaaaaaaa
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/cr7.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Tiêu đề aaaaaa aaaaaaaaa bb aaaaaa aaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaa
                                            aaaaaaaaa aaaaaaaaaa</h5>
                                        <p class="carousel-sumary">Vài dòng tóm tắt aaaaaaa aaaaaa aaaaa Nulla vitae
                                            elit libero,
                                            a pharetra augue mollis interdum. aaaaaa bbbb aaaaaaaa aaaaaaaaaaaaaaaaa
                                            aaaaa
                                            aaaaaaaaaaa bbbbb aaaaaaaaaaa aaaaaaaaa
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="./article/VNVD/singlePost.html" class="carousel-itemlink">
                                    <img src="./img/tevez.jpg" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption">
                                    <div class="ml-1 mr-1">
                                        <h5>Tiêu đề aaaaaa aaaaaaaaa bb aaaaaa aaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaa
                                            aaaaaaaaa aaaaaaaaaa</h5>
                                        <p class="carousel-sumary">Vài dòng tóm tắt aaaaaaa aaaaaa aaaaa Nulla vitae
                                            elit libero,
                                            a pharetra augue mollis interdum. aaaaaa bbbb aaaaaaaa aaaaaaaaaaaaaaaaa
                                            aaaaa
                                            aaaaaaaaaaa bbbbb aaaaaaaaaaa aaaaaaaaa
                                        </p>
                                        <div class="post-date">February 11, 2018</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- end slide các bài viết xem nhiều nhất -->
            </div>
            <!-- Kết thúc dòng 1 dành cho slide các bài viết xem nhiều nhất -->

            <!-- Dòng 2 dành cho các bài viết mới nhất -->
            <div class="row mb-4 ">
                <div class="Customtitle mb-1 w-100">
                    <div class="my-mark">
                        <p class="ml-3">Mới nhất</p>
                    </div>
                </div>
                <div style="" id="vs_inner_0">
                    {{#each rows}}
                    {{#ifMoreCond id '<=' 10}}
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="/cat/{{category}}/{{id}}">
                                    <img src="{{featureImg}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="/cat/{{category}}/{{id}}">{{title}}</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="/cat/{{category}}">{{catViet}}</a></div>
                                    <div class="time">{{datePost}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{/ifMoreCond}}
                    {{/each}}
                    {{!-- <article class="article-mini" data-list="3" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="./article/VNVD/singlePost.html">
                                    <img src="./img/vidic.png" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single.html">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">Thể thao|Tin trong nước</a></div>
                                    <div class="time">April 9, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="./article/VNVD/singlePost.html">
                                    <img src="./img/cr7.jpg" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="./article/VNVD/singlePost.html">Không phải hôm nay thời tiết thật đẹp
                                        để ra ngoài
                                        sao?</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Bệnh phụ nữ</a></div>
                                    <div class="time">April 5, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="3" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="./article/VNVD/singlePost.html">
                                    <img src="./img/vidic.png" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single.html">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">Thị trường 24h</a></div>
                                    <div class="time">April 9, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="./article/VNVD/singlePost.html">
                                    <img src="./img/cr7.jpg" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="./article/VNVD/singlePost.html">Không phải hôm nay thời tiết thật đẹp
                                        để ra ngoài
                                        sao?</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Doanh nhân</a></div>
                                    <div class="time">April 5, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="3" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="./article/VNVD/singlePost.html">
                                    <img src="./img/vidic.png" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single.html">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">Tài chính</a></div>
                                    <div class="time">April 9, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article> --}}
                </div>
                <!-- kết thúc tin 1 -->
                <!-- tin 2 trong 10 tin xem nhiều nhất -->


            </div>
            <!-- end dòng 2 cho các bài viết mới nhất -->

            <!-- Cột 2  Tin trong nước, tin quốc tế-->

            <!-- dòng 1 Bệnh phụ nữ -->
            <div class="row mb-3 container-post-outner">
                <div class="post-outner ">
                    <a href="./article/VNVD/singlePost.html"><img
                            src="./img/dau-dau-trong-ngay-den-do-co-dang-lo-1-1555232580-816-width640height426.jpg"
                            style="width:100%;height:250px" alt=""></a>
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html"
                        class=" post-outner-title badge badge-success ">Bệnh phụ nữ</a>
                </div>
                <div class="my-carousel-caption">
                    <h5 class="my-carousel-caption-title">Đau đầu trong ngày đèn đỏ có đáng lo?
                    </h5>
                    <p class="my-carousel-caption-sumary">Trong thời kỳ kinh nguyệt, việc thường xuyên suy nghĩ
                        nhiều, lười vận động, thức quá khuya... sẽ khiến người bệnh dễ lâm vào trạng thái đau nhức
                        đầu và chóng mặt.</p>
                    <div class="post-date">February 11, 2018</div>
                </div>
            </div>
            <!-- end dòng 1 Bệnh phụ nữ -->

            <!-- dòng 2 Sao việt -->
            <div class="row mb-3 h-500 container-post-outner">
                <div class="post-outner ">
                    <a href="./article/VNVD/singlePost.html"><img src="./img/a.jpg" style="width:100%;height:250px"
                            alt=""></a>
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html"
                        class=" post-outner-title badge badge-success ">Sao việt</a>
                </div>
                <div class="my-carousel-caption">
                    <h5 class="my-carousel-caption-title">Phía diễn viên Phi Huyền Trang nói gì?
                    </h5>
                    <p class="my-carousel-caption-sumary">Người quản lý của Phi Huyền Trang lên tiếng trước ồn ào nữ
                        diễn viên bị tố giật chồng và một đoạn video nhạy cảm được cho là của cô.</p>
                    <div class="post-date">February 11, 2018</div>
                </div>
            </div>
            <!-- end dòng 2 Sao việt -->

            <!-- dòng 3 Talk cùng sao -->
            <div class="row mb-3 container-post-outner">
                <div class="post-outner ">
                    <a href="./article/VNVD/singlePost.html"><img src="./img/b.jpg" style="width:100%;height:250px"
                            alt=""></a>
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html"
                        class=" post-outner-title badge badge-success ">Talk cùng sao</a>
                </div>
                <div class="my-carousel-caption">
                    <h5 class="my-carousel-caption-title"> hot girlSống trầm cảm suốt 2 năm sau ly hôn Hồ Quang Hiếu
                    </h5>
                    <p class="my-carousel-caption-sumary">Ivy của hiện tại sống lạc quan và nói nhiều về triết lý
                        tình yêu.</p>
                    <div class="post-date">February 11, 2018</div>
                </div>
            </div>
            <!-- end dòng 3 Talk cùng sao -->

            <!-- dòng 4 Sao Holloywood và các nước khác -->
            <div class="row mb-3 container-post-outner">
                <div class="post-outner ">
                    <a href="./article/VNVD/singlePost.html"><img src="./img/c.jpg" style="width:100%;height:250px"
                            alt=""></a>
                    <a href="./category/TinTrongNuoc/TinTrongNuoc.html"
                        class=" post-outner-title badge badge-success ">Sao Hollywood và các nước khác</a>
                </div>
                <div class="my-carousel-caption">
                    <h5 class="my-carousel-caption-title">Con gái Angelina Jolie lớn phổng phao
                    </h5>
                    <p class="my-carousel-caption-sumary">Shiloh (13 tuổi) là con gái ruột đầu tiên của Angelina
                        Jolie và Brad Pitt. Ngay từ nhỏ, cô bé đã bày tỏ ước muốn trở thành một người con trai.</p>
                    <div class="post-date">February 11, 2018</div>
                </div>
            </div>
            <!-- end dòng 4 Sao Holloywood và các nước khác -->


        </div>

        <!-- End cột 2 -->
        <!-- Kết thúc cột 2 -->


    </div>
</div>
<!-- End dòng 2: Slide xem nhiều nhất, Các mục còn lại -->

<!-- End of content -->