<!--dòng 1 Slide tin nổi bật, Tin trong nước, Tin quốc tế-->
<div class="container mt-3 ">
    <div class="row">

        <!-- cột 1 slide các bài viết nổi bật  -->
        <div class="col-md-7 col-sm-12">
            <div class="bd-example mt-0 ">
                <div class="Customtitle mb-1">
                    <div class="my-mark">
                        <p class="ml-3 text-danger">Tin nổi bật</p>
                    </div>
                </div>
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each this.viewMost}}
                        <div class="carousel-item {{#if isActive}}active{{/if}}">
                            <a href="/cat/{{category_id}}/{{id}}" class="carousel-itemlink">
                                <img src="{{avatar}}" class="d-block w-100 carousel-img-Hot" alt="...">
                            </a>
                            <div class="my-carousel-caption">
                                <h5 class="my-carousel-caption-title">{{title}}
                                </h5>
                                <p class="my-carousel-caption-sumary">{{description}}</p>
                                <div class="post-date">{{publish_at}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end cột 1 slide các bài viết nổi bật  -->

        <!-- Cột 2  Tin trong nước, tin quốc tế-->
        <div class="col-md-5 col-sm-12">
            <!-- dòng 1 Tin trong nước -->
            {{#each trongnuoc}}
            <div class="row mb-3">
                <div class="post">
                    <a href="/cat/{{category_id}}/{{id}}">
                        <img class="annimationImg" src="{{avatar}}" alt="">
                        <span class=" post-title badge badge-success ">{{catname}}</span>
                        <span class="post-Desc">
                            {{title}}
                        </span>
                        <span class="post-Time">{{publish_at}}</span>
                    </a>
                </div>
            </div>
            {{/each}}

            <!-- end dòng 1 tin trong nước -->

            <!-- dòng 2 Tin quốc tế -->
            {{#each quocte}}
            <div class="row mb-1">
                <div class="post">
                    <a href="/cat/{{category_id}}/{{id}}">
                        <img class="annimationImg" src="{{avatar}}" alt="">
                        <span class=" post-title badge badge-success ">{{catname}}</span>
                        <span class="post-Desc">
                            {{title}}
                        </span>
                        <span class="post-Time">{{publish_at}}</span>
                    </a>
                </div>
            </div>
            {{/each}}
            <!-- end dòng 2 tin quốc tế -->
        </div>
        <!-- End cột 2 -->
    </div>
</div>

<!-- end dòng 1 -->

<!-- Dòng 2: Slide xem nhiều nhất, Các mục còn lại -->
<div class="container mt-3 ">
    <div class="row">
        <!-- Cột 1: các chuyên mục còn lại-->
        <div class="col-md-7 col-sm-12">

            {{#each this.rows}}
            <div class="row mb-1">

                {{#each this}}

                <div class="col-md-6 col-12">
                    <div class="">
                        <a href="/cat/{{category_id}}" class="badge badge-success">{{catname}}</a>
                    </div>
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a
                                href="/cat/{{category_id}}/{{id}}"><img src="{{avatar}}"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">{{title}}
                            </h5>
                            <p class="card-text card-article-sumary">{{description}}</p>
                            <div class="post-date">{{publish_at}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}

            <!-- end of category -->



        </div>
        <!-- Kết thúc cột 1 -->


        <!-- Cột 2: slide bài viết được xem nhiều nhất,mini-article các bài viết mới nhất -->
        <div class="col-md-5 col-sm-12">

            <!-- Dòng 1 dành cho slide các bài viết xem nhiều nhất -->
            <div class="row mb-4">
                <!-- slide các bài viết xem nhiều nhất-->
                <div class="bd-example mt-2">
                    <div class="Customtitle mb-1">
                        <div class="my-mark">
                            <p class="ml-3">Xem nhiều nhất</p>
                        </div>
                    </div>
                    <div id="carouselExampleCaptions1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {{#each this.viewMost}}
                            <div class="carousel-item {{#if isActive}}active{{/if}}">
                                <a href="/cat/{{category_id}}/{{id}}" class="carousel-itemlink">
                                    <img src="{{avatar}}" class="d-block w-100 carousel-img-Latest" alt="..."
                                        style="width:90%">
                                </a>
                                <div class="my-carousel-caption ">
                                    <div class="ml-1 mr-1">
                                        <h5 class="carousel-sumary">{{title}}</h5>
                                        <p class="carousel-sumary">{{description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- end slide các bài viết xem nhiều nhất -->
            </div>
            <!-- Kết thúc dòng 1 dành cho slide các bài viết xem nhiều nhất -->

            <!-- Dòng 2 dành cho các bài viết mới nhất -->
            <div class="row mb-4 ">
                <div class="Customtitle mb-1 w-100">
                    <div class="my-mark">
                        <p class="ml-3">Mới nhất</p>
                    </div>
                </div>
                <div style="" id="vs_inner_0">
                    {{#each this.latest}}
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="/cat/{{category_id}}/{{id}}">
                                    <img src="{{avatar}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="/cat/{{category_id}}/{{id}}">{{title}}</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="/cat/{{category_id}}">{{catName}}</a></div>
                                    <div class="time">{{publish_at}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                </div>
                <!-- kết thúc tin 1 -->
                <!-- tin 2 trong 10 tin xem nhiều nhất -->


            </div>
            <!-- end dòng 2 cho các bài viết mới nhất -->

            <!-- Cột 2  Tin trong nước, tin quốc tế-->
        </div>

        <!-- End cột 2 -->
        <!-- Kết thúc cột 2 -->

    </div>
</div>
<!-- End dòng 2: Slide xem nhiều nhất, Các mục còn lại -->

<!-- End of content -->