<div class="container mt-3 ">
    <div class="row">
        {{#each this.rows}}
        <!-- cột 1, bài viết -->
        <div class="my-mark ">
            <p class="ml-3">{{catname}}</p>
        </div>
        <div class="col-lg-8 col-sm-12 bg-white">
            <h1 class="title-article">{{title}}</h1>
            <div class="post-date">{{publish_at}}</div>
            <h6 class="sumary-article">{{description}}</h6>
            {{{content}}}
            {{/each}}
            <div class="block_tag width_common">
                <div class="badge badge-secondary"><i class="ic ic-tag"></i>&nbsp;Tags</div>
                {{#each this.tag}}
                <h6 class="badge badge-secondary">
                    <a href="/tag/{{id}}" style="color: white" title="{{name}}">
                        {{name}} </a>
                </h6>
                {{/each}}
            </div>
            <div class="row comment-box mt-4 mb-4">
                <h5 style="color: #9d234c;width: 100%;background: #eaeaea;height: 30px;">Ý kiến bạn đọc</h5>
                <div class="width_common" id="box_comment" style="margin-left: 1%;">
                    <div class="main_show_comment width_common mb10" id="list_comment">
                        {{#each this.postcomment}}

                        <p class="full_content">{{content}}</p>
                        <p class="left txt_666 txt_14"><b>{{user_name}}</b>
                            - {{create_at}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>
            {{#each this.rows}}
            <form action="/cat/{{category_id}}/{{id}}" target="_self" method="post" style="margin-top: 7%;"
                id="comment">
                <textarea rows="6" cols="90%" placeholder="Bình luận" id="content" name="content"></textarea>
                <button type="submit" class="btn btn-primary mb-2">Đăng bình luận</button>
            </form>
            {{/each}}
        </div>
        <!-- cột 2, các bài viết cùng chuyên mục, các bài viết mới-->
        <div class="col-lg-4 col-sm-12 bg-light">

            <!-- Các bài viết cùng chuyên mục -->
            <div class=" row mb-4 ">
                <div class="Customtitle mb-1 w-100">
                    <div class="my-mark">
                        <p class="ml-3 mt-2">Cùng chuyên mục</p>
                    </div>
                </div>
                <div style="" id="vs_inner_0">
                    {{#each this.samecat}}
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="/cat/{{category_id}}/{{id}}">
                                    <img src="{{avatar}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="/cat/{{category_id}}/{{id}}">{{title}}</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="/cat/{{category_id}}">{{catname}}</a></div>
                                    <div class="time">{{publish_at}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                </div>
                <!-- kết thúc tin 1 -->
            </div>
            <!-- end các bài viết cùng chuyên mục -->

            <!-- Các bài viết mới -->
            <div class=" row mb-4 ">
                <div class="Customtitle mb-1 w-100">
                    <div class="my-mark">
                        <p class="ml-3 mt-2">Tin mới nhất</p>
                    </div>
                </div>
                <div style="" id="vs_inner_0">
                    {{#each this.latest}}
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="/cat/{{category_id}}/{{id}}">
                                    <img src="{{avatar}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="/cat/{{category_id}}/{{id}}">{{title}}</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="/cat/{{category_id}}">{{catViet}}</a></div>
                                    <div class="time">{{publish_at}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                </div>

            </div>

            <!-- end các bài viết mới -->
        </div>
        <!-- end cột 2 -->
    </div>

</div>
<script type="text/javascript">
    var frm = $('#comment');

    frm.submit(function (e) {

        e.preventDefault();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                document.location.reload(true);
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });
</script>