<div class="container mt-3 ">
    <div class="row">
        {{#each this.rows}}
        <!-- cột 1, bài viết -->
        <div class="my-mark ">
            <p class="ml-3">{{catname}}</p>
        </div>
        <div class="col-lg-8 col-sm-12 bg-white">
            <h1 class="title-article">{{title}}</h1>
            <div class="post-date">{{publish_at}}</div>
            <h6 class="sumary-article">{{description}}</h6>
            {{{content}}}
            <div class="row comment-box mt-4 mb-4">
                <h5>Ý kiến bạn đọc</h5>
                <form action="" method="post">
                    <textarea rows="6" cols="90%" placeholder="Bình luận"></textarea>
                    <button class="btn btn-primary mb-2">Đăng bình luận</button>
                </form>
            </div>
        </div>
        <!-- end cột 1 -->
        {{/each}}
        <!-- cột 2, các bài viết cùng chuyên mục, các bài viết mới-->
        <div class="col-lg-4 col-sm-12 bg-light">

            <!-- Các bài viết cùng chuyên mục -->
            <div class=" row mb-4 ">
                <div class="Customtitle mb-1 w-100">
                    <div class="my-mark">
                        <p class="ml-3 mt-2">Cùng chuyên mục</p>
                    </div>
                </div>
                <div style="" id="vs_inner_0">
                    {{#each this.samecat}}
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="/cat/{{category_id}}/{{id}}">
                                    <img src="{{avatar}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="/cat/{{category_id}}/{{id}}">{{title}}</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">{{catname}}</a></div>
                                    <div class="time">{{publish_at}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                    {{!-- <article class="article-mini" data-list="3" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="/img/tevez.jpg" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">Thể thao | Tin trong nước</a></div>
                                    <div class="time">April 9, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="/img/cr7.jpg" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">Không phải hôm nay thời tiết thật đẹp để ra ngoài
                                        sao?</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Thể thao | Tin trong nước</a></div>
                                    <div class="time">April 5, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="3" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="/img/mu-barca.jpg" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">Thể thao | Tin trong nước</a></div>
                                    <div class="time">April 9, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="/img/cr7.jpg" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">Không phải hôm nay thời tiết thật đẹp để ra ngoài
                                        sao?</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Thể thao | Tin trong nước</a></div>
                                    <div class="time">April 5, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini" data-list="3" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="#">
                                    <img src="/img/vidic.png" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">Thể thao | Tin trong nước</a></div>
                                    <div class="time">April 9, 2019</div>
                                </div>
                            </div>
                        </div>
                    </article> --}}
                </div>
                <!-- kết thúc tin 1 -->
            </div>
            <!-- end các bài viết cùng chuyên mục -->

            <!-- Các bài viết mới -->
            <div class=" row mb-4 ">
                <div class="Customtitle mb-1 w-100">
                    <div class="my-mark">
                        <p class="ml-3 mt-2">Tin mới nhất</p>
                    </div>
                </div>
                <div style="" id="vs_inner_0">
                    {{#each this.latest}}
                    <article class="article-mini" data-list="2" style="display: block;">
                        <div class="inner">
                            <figure>
                                <a href="/cat/{{category_id}}/{{id}}">
                                    <img src="{{avatar}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="/cat/{{category_id}}/{{id}}">{{title}}</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="/cat/{{category_id}}">{{catViet}}</a></div>
                                    <div class="time">{{publish_at}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{/each}}
                </div>

            </div>

            <!-- end các bài viết mới -->
        </div>
        <!-- end cột 2 -->
    </div>

</div>